/* <--------------------------------------- ROOT VARIABLE ------------------------------------------------> */
/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,200&display=swap');
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --first-color: #069C54;
  --first-color-alt: #048654;
  --mainTitle-color: #141824;
  --title-color: #004dff;
  --title-color-light:rgb(38, 101, 249);
  --text-color: #6E7891;
  --text-color-light: #A6A6A6;
  --body-color: #fff;
  --container-color: #F5F7FA;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --heading-font:'Nunito Sans', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

body::-webkit-scrollbar {
  display: none;
}

/*========== BASE ==========*/
*, ::before, ::after {
  box-sizing: border-box;
}

a{
    text-decoration: none;
}



.icon{
  font-size:var(--h3-font-size);
  color: var(--mainTitle-color);
  margin: 0 4px;

}

th,
  td {
    padding: 2px;
    text-align: left;
    border-bottom: 1px solid #dddddde5;
  }



.mainn{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 4rem;
  background-color: var(--container-color);

  .leadHeader{
    display: flex;
    flex-direction: column;
    padding: 4rem;

      h4{
        font-family: var(--body-font);
        color: var(--title-color);
        left: 0;
        margin: 0;
      }
      .adminHeading{
        font-family: var(--body-font);
        font-weight: 500;
        font-size: var(--h1-font-size);
        color: var(--mainTitle-color);
        margin-top: .5rem;
      }
  }

  &__table{

    background-color: var(--container-color);
    width: 100%;
    height: 100%;
    padding: 0 4rem;
    .mainnTable{
      width: 100%;
  
      &__head{
        height: 50px;
  
        &__rows{
          th{
            border-top: 1px solid #dddddde5;
            color: #353535e1;
            height: 50px;
            font-family: var(--heading-font);
            font-weight: var(--font-semi-bold);
            font-size: var(--small-font-size);

            .icon{
              background-color: #D9FBD0;
              border-radius: 5px;
              font-size: var(--h3-font-size);
              font-weight: 100;
              color: #353535e1;
              
            }
          }
          .borderRight{
            border-right: 1px solid #dddddde5;
          }
  
          .tableHeading{
            padding: 0 1.5rem;
            color: #353535e1;
            font-family: var(--body-font);
          }
        }
      }
  
      &__body{
        &__rows{

          td{
            color: #202020e1;
          }
          .nameTd{
            font-family: var(--body-font);
            font-size: var(--h3-font-size);
            color: var(--title-color-light);
            font-weight: var(--font-semi-bold);
  
            &__div{
  
            display: flex;
            align-items: center;
            margin: 0;
  
            
            .nameDiv{
              .name{
                font-size: var(--h3-font-size);
                color: var(--title-color-light);
                margin-bottom: 0;
                font-family: var(--heading-font);
              }
              .nameId{
                font-size: var(--small-font-size);
                color: var(--text-color);
                margin-top: 0;
                font-family: var(--heading-font);
              }
            }
          }
          }
  
          .borderRight{
            border-right: 1px solid #dddddde5;
          }
  
          .clientDetail{
            font-family: var(--body-font);
            font-size: var(--small-font-size);
            padding: 0 2rem;
          }

          #actionIcon{
            margin: 0;
            padding: 0;
            i{
                font-size: 19px;
                margin: 0 4px;
                transition: .3s;

                &:hover{
                    cursor: pointer;
                    color: #004dff;
                }
            }
          }
        }
      }
    }
  }
}
 
  